.background-img{
    background-image: url('/img/background1.jpg');
    background-size: auto;
    background-repeat: repeat;
}

.perfil-img{
    background-image: url('/img/brownwood.jpg');
    background-size: cover;
    background-repeat: repeat;
    min-height: 80vh;
}
