.background-img{
    background-image: url('/img/background1.jpg');
    background-size: auto;
    background-repeat: repeat;
}

.perfil-img{
    background-image: url('/img/miperfil-img.jpg');
    background-size: auto;
    background-repeat: repeat;
}
