.card-product{
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.25);
}

.card-product:hover{
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2)
    , 0 0 1px 1px rgba(0, 0, 0, 0.2)
    , 0 0 1px 1px rgba(0, 0, 0, 0.2);
}

.card-product:hover .body-cart-content{
    background: #e3e3e3;
}

.card-prod-img{
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.body-cart-content{
    background: #ffffff;
}

.custom-quantity{
    width: 55px;
    height: 40px;
    outline: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
